@media(max-width: 991px)
{
    html {
        font-size: 55%;

      }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .aboutus{
      padding-inline: 20rem;
    }
}
@media(max-width: 768px)
{
    .header .navbar{
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background-color: #fff;
    }
    #menu-btn {
        display: inline-block;
      }  
    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
    .header .search-form{
        width: 90%;
    }
    .aboutus{
      margin-top: 8rem;
      padding-inline: 8rem;
    }
    .review .review-slider{
      /* padding:0 1rem; */
      width: 100%;
      margin: auto;
    }
}

@media(max-width: 450px)
{
    html {
        font-size: 50%;
      }
      .heading{
        font-size: 2.5rem;
      }
      .features{
        margin-top: 8rem;
      }
      .product{
        margin-top: 8rem;
      }
      .blog{
        margin-top: 8rem;
      }
      .aboutus{
        margin-top: 8rem;
        padding-inline: 3rem;
      }
      
}